html, body {
	font-family: 'Open Sans', sans-serif;
}

.bold {
	font-weight: bold;
}

/*
 * MAIN MENU
 */

	#main-menu a:hover {
		text-decoration: none;
		color: white;
	}

	#main-menu h1 {
		font-size: 70px;
		color: #b1dde9;
	}

	#main-menu h3 {
		text-align: center;
		font-size: 24px;
		color: #82becf;
	}

	.main-circle {
		width: 150px;
		height: 150px;
		margin-bottom: 10px;
		background: #50b8b0;
		display: table;
		border-radius: 50%;
		
		font-size: 20px;
		color: #fff;
		line-height: 20px;
	}

	.main-text {
		display: table-cell;
		vertical-align: middle;
		cursor: hand;
	}
	
/*
 * MAIN VIEW
 */
 
	#main-view {
		position: absolute;
		margin: 50px;
		background: #fff;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		
		box-shadow: 0px 0px 5px #666;
		
		overflow: none;
		overflow-y: auto;
	}
	
	#main-view-close {
		right: 0;
		top: 0;
	}
	
	 #close {
		position: fixed;
		z-index: 1;
		top: 100px;
		right: 130px;
		height: 50px;
		width: 50px;
		border-radius: 50%;
		background: rgb(177, 221, 233) url(../img/cd-icon-close.svg) no-repeat center center;
		/* image replacement */
		overflow: hidden;
		text-indent: 100%;
		white-space: nowrap;
		visibility: hidden;
		opacity: 0;
		-webkit-transform: translateZ(0);
		-moz-transform: translateZ(0);
		-ms-transform: translateZ(0);
		-o-transform: translateZ(0);
		transform: translateZ(0);
		-webkit-transform: scale(0);
		-moz-transform: scale(0);
		-ms-transform: scale(0);
		-o-transform: scale(0);
		transform: scale(0);
		-webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
		-moz-transition: -moz-transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
		transition: transform 0.3s 0s, visibility 0s 0.3s, opacity 0.3s 0s;
	}

	#close:hover {
	  background-color: rgb(130, 190, 207);
	}
	
	#close {
	  visibility: visible;
	  opacity: 1;
	  -webkit-transition: -webkit-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
	  -moz-transition: -moz-transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
	  transition: transform 0.3s 0s, visibility 0s 0s, opacity 0.3s 0s;
	  -webkit-transform: scale(1);
	  -moz-transform: scale(1);
	  -ms-transform: scale(1);
	  -o-transform: scale(1);
	  transform: scale(1);
	}
	
/*
 * SURVEY CAROUSEL OVERRIDES
 */
	.full-height {
		height: 100%;
	}

	/* Hide carousel controls for survey*/
	#survey-questions .carousel-control,
	#survey-questions .carousel-indicators {
		display: none /* Comment for DEBUG */
	}
	
/*
 *	SUBPAGES
 */
	
	.modalWin {
		margin-top: 100px;
		margin-bottom: 100px;
	}
	
	.title {
		text-align: justify; 
		font-size: 40px;
	}

	.paragraph {
		line-height: 130%; 
		color: #7F7F7F; 
		text-align: justify; 
		margin-top: 8px; 
		margin-bottom: 30px;
		font-size: 20px;
	}
	
	.headingProtection {
		color: #b3db5a; 
		font-size: 25px;
		margin-bottom: 40px;
		margin-top: 40px;
	}
	
	/* Accordion Heading */
	.panel-heading .panel-title {
		color: #8e9cd7;
		font-size: 18px;
		font-weight: bold;
	}
	
	ul {
		list-style-type: circle; 
		margin-left: 22px; 
		padding: 0; 
		line-height: 130%; 
		color: #7F7F7F; 
		text-align: justify; 
		font-size: 20px;
	}
	
	.hospitalInfo {
		list-style-type: none; 
		padding: 0; 
		margin: 0; 
		line-height: 130%; 
		color: #7F7F7F; 
		text-align: justify; 
		font-size: 18px;
		margin-top: 22px;
	}
	
	.hospitalName {
		font-size: 20px;
		color: #8e9cd7; 
		line-height: 110%;
		margin-top: 8px;
	}
	
	.hospitalDescription {
		color: #7F7F7F; 
		line-height: 110%; 
		text-align: justify; 
		font-size: 18px;
		margin-top: 8px;
	}
	
	.headingExamination {
		line-height: 130%; 
		color: #B9C3EC; 
		font-size: 25px;
		margin-bottom: 40px;
		margin-top: 40px;
	}
	
	#ulSurvey{
		list-style-type: none; 
		line-height: 130%; 	
		color: #7F7F7F;  
		font-size: 20px;
		margin-top: 22px;
		margin-bottom: 30px; 
	}
	
	#titleSurvey {
		text-align: left;
		font-size: 25px;
		color: #82becf;
	}
	
	#button {
		text-align: left;
	}
	
	