<html lang="en">

<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

<script	
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.24/angular.min.js"></script>
<title>ASPO</title>

<!-- CSS  -->
<link href="css/bootstrap.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
<link href="css/style.css" type="text/css" rel="stylesheet"
	media="screen,projection" />
</head>


<body>
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="landing_page.html">ASPO</a>
			</div>

			<div class="collapse navbar-collapse"
				id="bs-example-navbar-collapse-2">
				<ul class="nav navbar-nav" id="nav1_1">
					<li class="active"><a href="#">Vprašalnik <span
							class="sr-only">(current)</span></a></li>
					<li><a href="opis.html">Opis spolno prenosljivih okužb</a></li>
					<li><a href="pregled.html">Pregled pri zdravniku</a></li>
					<li><a href="simptomi.html">Simptomi</a></li>
					<li><a href="zascita.html">Zaščita</a></li>
					<li><a href="onas.html">O nas</a></li>
				</ul>
				<form class="navbar-form navbar-right" role="search">
					<div class="form-group">
						<input type="text" class="form-control" placeholder="Poišči">
					</div>
					<button type="submit" class="btn btn-default">Potrdi</button>
				</form>
			</div>
		</div>
	</nav>


	<div class="col-md-12">
		<div class="col-md-offset-2 col-md-8">
			<br />
			<div id="questions" ng-app="fetch" ng-controller="dbCtrl">
				<div id="carousel-example-generic" class="carousel slide"
					data-ride="carousel" style="height: 550px;">
					<!-- Indicators -->
					<ol class="carousel-indicators" ng-repeat="question in data">
						<li data-target="#carousel-example-generic"
							data-slide-to="{{question.id}}"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" ng-repeat="question in data">
						<div class="form-group">
							<p class="stVprasanja" id="question{{question.id}}">{{question.text}}</p>
							<div ng-repeat="answer in question.answers">
								<div class="radio">
									<label> <input type="radio" name="optionsRadios" />
										{{answer.answerText}}
									</label>
								</div>
							</div>
						</div>

						<br />
					</div>
				</div>

				<div class="item">
					<ul class="pager">
						<li class="next"><a href="#">Naprej →</a></li>
					</ul>
				</div>
				<div class="item">
					<ul class="pager">
						<li><a href="#">Potrdi</a></li>
					</ul>
				</div>
			</div>
		</div>
		<!-- Carousel -->
	</div>
	<script>
  var fetch = angular.module('fetch', []);

  fetch.controller('dbCtrl', ['$scope', '$http', function ($scope, $http) {
  	$http.get("http://localhost:8080/zdravo-mednozje/rest/testRest/questions")
  	.success(function(data){
  		$scope.data = data;
  	})
  	.error(function() {
  		$scope.data = "error in fetching data";
  	});
  }]);
  </script>
</body>